<section class="lrg brown">
    <h2>Contact</h2>
    <form class="med-col med-space cntr" action="">
        <label for="">Name:</label>
        <input name="name" type="text">
        <label for="">Email:</label>
        <input name="email" type="text">
        <label for="">Subject:</label>
        <input name="subject" type="text">
        <label for="">Message:</label>
        <textarea class="sml" name="message" type="text"></textarea>
        <div class="sbmt"><a class="btn">Submit</a></div>
    </form>
    
</section>