<section class="lrg brown">
    <a name="contact"></a>
    <form class="med-col med-space cntr" action="https://formspree.io/blkCodeCollctve@gmail.com" method="POST">
        <label for="name">Name:</label>
        <input name="name" type="text" required>
        <label for="email">Email:</label>
        <input name="email" type="text" required>
        <label for="subject">Subject:</label>
        <input name="subject" type="text" required>
        <label for="message">Message:</label>
        <textarea class="sml" name="message" type="text"></textarea>
        <div class="sbmt"><input class="btn" type="submit"/></div>
        <input type="hidden" name="_next" value="/" />
    </form>
    
</section>