<section class="med brown">
    <a name='sponsors'></a>
    <div class="cntr more-space">
        <h2> Disclaimer </h2>
        Any and all communication from this group will be intiated by the co-founders, and from the official black code collective email `blkcodecollctve [at] gmail.com`
        Please alert us if you are aware of any communication through informal channels in an effort to misrepresent us and our mission statement. All notifications will be handled strictly confidentially.
    </div>
</section>
