<section class="event-section">
    <a name='events'></a>
    <h1 class="cntr">Events</h1>
    <div class="grid">
            {% capture now %}{{'now' | date: '%s'}}{% endcapture %}
            {% for event in site.events %}
                {% capture posttime %}{{event.date | date: '%s'}}{% endcapture %}
                {% if posttime > now %}
                    {% assign upcomingEvents = true %}                    
                        <div class="event cntr">
                            <h2>{{event.title}}</h2>
                            <p>{{event.description}}</p>
                            <a class="btn" href="{{event.link}}"  target="_blank"> more details</a>
                        </div>
                    {% endif %}
            {% endfor %}
            {% if upcomingEvents != true %}
                <h2>There are no events right now. Come back soon!</h2>
            {% endif %}
    </div>
</section>