<footer class="footer">
  <div class="wrapper">
    <p class="inline left"> &copy; 2017 Black Code Collective. All rights reserved.</p>
    <ul class="inline right">
      <li class="icon"><a target="_blank" href="https://twitter.com/blkCodeCollctve">
        <img src="../assets/twitter.svg" alt="Twitter">
      </a></li>
      <li class="icon"><a target="_blank" href="https://github.com/blkCodeCollctve">
        <img src="../assets/github.svg"  alt="GitHub">
      </a></li>
      <li class="icon"><a target="_blank" href="https://meetup.com/Black-Code-Collective">
        <img src="../assets/meetup.svg" alt="Meetup">
      </a></li>
      
      
      
    </ul>
  </div>
</footer>
