<section class="med brown">
    <a name="join"></a>
    <div class="med-col med-space cntr">
        <h2 class=""> We are black software developers creating a welcoming community to grow our skills, share knowledge and help each other progress through our careers. Whether you're just starting out, or you're well along in your career, join us.</h2>
    </div>
</section>
<section class="sml">
    <div class="cntr space">
        <a class="btn" target="_blank" href="https://blkcode.typeform.com/to/lJSebz">Join Us on Slack</a>
    </div>
</section>