<section class="brown">
    <a name="join"></a>
    <div class="med-col med-space cntr">
        <h2 class=""> We are black software developers creating a welcoming community to grow our skills, share knowledge and help each other progress through our careers. Whether you're just starting out, or you're well along in your career, join us.</h2>
        <a class="typeform-share btn" target="_blank" href="https://blkcode.typeform.com/to/lJSebz">Join Us on Slack</a>
        
    </div>
</section>
<section class="mission-section">
    <a name="contact"></a>
    <div class="space cntr">
        <h2>Wanna Reach Out?</h2>
        <h2>We're Here👇🏿</h2>
            <a class="typeform-share btn" href="https://blkcode.typeform.com/to/RgGm4a" data-mode="drawer_right" target="_blank">Contact Us! </a>
    <script>
        (function () { var qs, js, q, s, d = document, gi = d.getElementById, ce = d.createElement, gt = d.getElementsByTagName, id = "typef_orm_share", b = "https://embed.typeform.com/"; if (!gi.call(d, id)) { js = ce.call(d, "script"); js.id = id; js.src = b + "embed.js"; q = gt.call(d, "script")[0]; q.parentNode.insertBefore(js, q) } })()
    </script>        
    </div>
</section>