body{
    font-family: "Raleway", Helvetica, sans-serif;
}
a {
    letter-spacing: .03em;
    text-decoration: none;
    border: 0;
    color: #946846;
}
a:hover{
    color: #2d0605
}
ul{
    list-style-type: none;  
}
.brown{background-color: #946846;}
.btn{
    display: inline-block;
    width: auto;
    height: auto;
    padding: 21px 34px;
    border: 2px solid #1c1c1c;
    background-color: #fff;
}
.btn:hover{
    background-color: #1c1c1c;
    color: #fff;
}
label, .sbmt{
    display: block;
    text-align: left;
}
textarea{
    min-height: 100px
}
.lght{
    font-weight: 100;
}
.strng{
    font-weight: 600;
}
input, textarea{
    display: inline-block;
    width: 100%;
    padding: 10px;
    margin: 4px 0px;
}
