.body{
  margin-top: 75px;
}
.clearfix {
  clear: both;
  overflow: auto;
  zoom: 1;
}
.lrg{
  height: 600px;
}
.med{
  height: 300px;
}
.sml{
  height: 150px;
}
.cntr{
  margin: 0 auto;
  text-align: center;
  display: block;
}
.med-col{
    max-width: 700px;

}
.med-space{
  padding: 5rem 1rem;
}
.space{
  padding: 3em;
}
.more-space{
  padding: 6em;
}
.wrapper{
  padding: 1em 2em;
}
.inline{
  display: inline-block;
}
.right{
  float: right;
}
@supports (display:grid){
  .grid {
    display: grid;
    grid-gap: 4px;
    grid-template-columns: repeat(auto-fit, 400px);
    grid-row-gap: 40px;
    margin: 0 auto;
    width: 90%;
    padding-top: 7em;
  }
}