.header {
    border-bottom: 3px solid black;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #fff;
    z-index: 2;
    .wrapper-large {
        max-width: 1400px;
        padding: 14px 30px;
        margin: 0 auto;
        display: flex;
        .header_logo{
            height: 45px;
            vertical-align: middle;
        }
        .header_links {
            text-align: right;
            align-self: center;
            flex-grow: 1;
            margin: 0;
            li {
                display: inline-block;
                padding: 5px;
                list-style: initial;
                text-transform: uppercase;
            }
        }
    }
}